# python caches
*cache*

# python egg
src/arxiv_catchup/*.egg*

# mac indexing file
.DS_Store

# VSCode settings
.vscode/

# Temporary/logging files
.run/

# Config files
config/

# Testing files
TODO.txt
*.ipynb_checkpoints
*.ipynb
