# pycache
__pycache__

# mac indexing file
.DS_Store

# VSCode settings
.vscode/

# Temporary/logging files
tmp/
logs/

# State files
state/

# Config files
config/

# Outputs
outputs/

# Testing files
TODO.txt
*.ipynb_checkpoints
*.ipynb
